body {
  font-family: sans-serif;
}

.input-autocomplete {
  border: 1px solid #999;
  border-radius: 50px;
  padding: 1rem 1.5rem;
  width: 300px;
  font-size: 1rem;
  outline: none;
}

.input-autocomplete-with-results {
  border-radius: 15px 15px 0 0;
  border-bottom: 0px;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
  text-align: center;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 200px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 3rem);
}

.suggestions li {
  padding: 1rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #ebebeb;
  cursor: pointer;
  font-weight: 700;
}

.input-ac {
  position: relative;
}

.suggestion-list {
  position: absolute;
  top: 51px;
  left: 0;
}

.match {
  background-color: #fae042;
}

.match-char {
  font-weight: bold;
}
